.boletim{
    border: solid 3px; border-color: red;
    width: 600px;
    height: 600px;
}

.titulo1{
    border: solid 3px; border-color: blue;
    width: 595px;
    height: 70px;
}

.dados{
    border: solid 3px; border-color: green;
    width: 595px;
    height: 70px;
}

.titulo2{
    border: solid 3px; border-color: yellow;
    width: 595px;
    height: 70px;
}

.fonte{
    border: solid 3px; border-color: gray;
    width: 595px;
    height: 70px;
}

.redes{
    border: solid 3px; border-color: black;
    width: 595px;
    height: 70px;
}

.final{
    border: solid 3px; border-color: pink;
    width: 595px;
    height: 70px;
}

.footer{
    border: solid 3px; border-color: purple;
    width: 595px;
    height: 70px;
}