@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

:root{
    --font-principal: 'Inter';
    --font-elegant: 'Delicious Handrawn';
    --escapamento-pequeno: 0.5rem;
    --escapamento-medio: 1rem;
    --escapamento-grande: 2rem;
    --cor-branca: #FFF;   
}